{{#each fightersArray}}

<div>
    <h2>
    {{this.name}}
    </h2>

    <p>
    {{this.SignatureMove}}
    </p>

    <a href="/fighters/{{this._id}}"> Fighter Info </a>
<br><br>
    <a href="/"> Home </a>

    <hr>
</div>

{{/each}}

